.card {
  border: 1px solid black;
  border-radius: 12px;
  padding: 16px;
  min-height: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  align-items: center;
}

.header {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 20px;
  font-weight: 600;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 20px;
}
