.card {
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.item {
  font-weight: 700;
}

.item span {
  font-weight: 400;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
